<div class="affiche">
  <div class="affiche__list">
    <div class="affiche-list">
      <div class="affiche-flex">
        <span class="affiche-name">ВЕЧЕРНИЙ КВАРТАЛ</span>
      </div>
      <div class="affiche-date">
        <span class="affiche-day">7</span>
        <span class="affiche-month">АВГУСТА</span>
      </div>
      <div class="affiche-place">
        <span class="affiche-name--place">Черновцы</span>
        <span class="affiche-city">Летний Театр, 20:00</span>
      </div>
      <div class="affiche-button">
        <a href="#" class="btn-buy" target="_blank">Купить</a>
      </div>
    </div>
  </div>
  <div class="affiche__list">
    <div class="affiche-list">
      <div class="affiche-flex">
        <span class="affiche-name">ВЕЧЕРНИЙ КВАРТАЛ</span>
      </div>
      <div class="affiche-date">
        <span class="affiche-day">7</span>
        <span class="affiche-month">АВГУСТА</span>
      </div>
      <div class="affiche-place">
        <span class="affiche-name--place">Черновцы</span>
        <span class="affiche-city">Летний Театр, 20:00</span>
      </div>
      <div class="affiche-button">
        <a href="#" class="btn-buy" target="_blank">Купить</a>
      </div>
    </div>
  </div>
  <div class="affiche__list">
    <div class="affiche-list">
      <div class="affiche-flex">
        <span class="affiche-name">ВЕЧЕРНИЙ КВАРТАЛ</span>
      </div>
      <div class="affiche-date">
        <span class="affiche-day">7</span>
        <span class="affiche-month">АВГУСТА</span>
      </div>
      <div class="affiche-place">
        <span class="affiche-name--place">Черновцы</span>
        <span class="affiche-city">Летний Театр, 20:00</span>
      </div>
      <div class="affiche-button">
        <a href="#" class="btn-buy" target="_blank">Купить</a>
      </div>
    </div>
  </div>
  <div class="affiche__list">
    <div class="affiche-list">
      <div class="affiche-flex">
        <span class="affiche-name">ВЕЧЕРНИЙ КВАРТАЛ</span>
      </div>
      <div class="affiche-date">
        <span class="affiche-day">7</span>
        <span class="affiche-month">АВГУСТА</span>
      </div>
      <div class="affiche-place">
        <span class="affiche-name--place">Черновцы</span>
        <span class="affiche-city">Летний Театр, 20:00</span>
      </div>
      <div class="affiche-button">
        <a href="#" class="btn-buy" target="_blank">Купить</a>
      </div>
    </div>
  </div>
  <div class="affiche__list">
    <div class="affiche-list">
      <div class="affiche-flex">
        <span class="affiche-name">ВЕЧЕРНИЙ КВАРТАЛ</span>
      </div>
      <div class="affiche-date">
        <span class="affiche-day">7</span>
        <span class="affiche-month">АВГУСТА</span>
      </div>
      <div class="affiche-place">
        <span class="affiche-name--place">Черновцы</span>
        <span class="affiche-city">Летний Театр, 20:00</span>
      </div>
      <div class="affiche-button">
        <a href="#" class="btn-buy" target="_blank">Купить</a>
      </div>
    </div>
  </div>
  <div class="affiche__list">
    <div class="affiche-list">
      <div class="affiche-flex">
        <span class="affiche-name">ВЕЧЕРНИЙ КВАРТАЛ</span>
      </div>
      <div class="affiche-date">
        <span class="affiche-day">7</span>
        <span class="affiche-month">АВГУСТА</span>
      </div>
      <div class="affiche-place">
        <span class="affiche-name--place">Черновцы</span>
        <span class="affiche-city">Летний Театр, 20:00</span>
      </div>
      <div class="affiche-button">
        <a href="#" class="btn-buy" target="_blank">Купить</a>
      </div>
    </div>
  </div>
</div>