.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 12%;
  background: #fff;
  min-height: 100vh;
  padding: 85px 20px 25px;
  text-align: center;

  &-text {
    margin-top: 25px;
    text-transform: uppercase;
    font-weight: 700;
  }

  @media (max-width: 768px) {
    width: 160px;
    left: -100%;
  }
}

.button-left {
  position: absolute;
  margin-top: 40px;
  top: 10px;
  display: none;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background: #231f20;
  z-index: 11;
  transition: .3s;

  .arrow {
    width: 15px;
    height: 15px;
  }

  .transform {
    transform: rotate(-180deg);
  }

  @media (max-width: 768px) {
    display: flex;
  }
}