<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Афиша</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="https://kvartal95.com/bitrix/templates/main_template/images/favicon.png" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="https://kvartal95.com/bitrix/templates/main_template/images/favicon.png" type="image/png">
    <link rel="icon" sizes="32x32" href="https://kvartal95.com/bitrix/templates/main_template/images/favicon.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="https://kvartal95.com/bitrix/templates/main_template/images/favicon.png">
    <link rel="apple-touch-icon" href="https://kvartal95.com/bitrix/templates/main_template/images/favicon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="https://kvartal95.com/bitrix/templates/main_template/images/favicon.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://kvartal95.com/bitrix/templates/main_template/images/favicon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://kvartal95.com/bitrix/templates/main_template/images/favicon.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://kvartal95.com/bitrix/templates/main_template/images/favicon.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://kvartal95.com/bitrix/templates/main_template/images/favicon.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://kvartal95.com/bitrix/templates/main_template/images/favicon.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://kvartal95.com/bitrix/templates/main_template/images/favicon.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://kvartal95.com/bitrix/templates/main_template/images/favicon.png">
    <link rel="apple-touch-icon" sizes="167x167" href="https://kvartal95.com/bitrix/templates/main_template/images/favicon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://kvartal95.com/bitrix/templates/main_template/images/favicon.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="https://kvartal95.com/bitrix/templates/main_template/images/favicon.png">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>


    @@include("../blocks/modules/header/header.html")
    @@include("../blocks/modules/main/main.html")
    @@include("../blocks/modules/footer/footer.html")

    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
  </body>
</html>