.menu {
  display: none;
  align-items: center;

  &__line {
    @extend .menu;
  }

  &-line {
    display: inline-block;
    width: 20px;
    height: 3px;
    min-width: 24px;
    background: #fff;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 3px;
      min-width: 24px;
      background: #fff;
      bottom: 7px;
    }

    &::after {
      content: '';
      position: absolute;
      width: 20px;
      min-width: 24px;
      height: 3px;
      background: #fff;
      top: 7px;
    }
  }

  &-text {
    line-height: 24px;
    padding-left: 5px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
  }

  &__item {
    position: absolute;
    top: 100%;
    left: 0;
    text-align: center;
    width: 100%;
    background: #fff;
    padding: 15px 0;
    transition: .3s;
  }

  &-link {
    padding: 0 2px;
    line-height: 45px;
    color: #000;
    display: block;
    font-weight: 700;
    text-transform: uppercase;

    &:hover {
      background: #f7f7f7;
      color: $blue;
    }
  }

  &-active {
    background: #f7f7f7;
    color: $blue;
  }

  .hidden {
    opacity: 0;
    left: -100%;
  }

  .visible {
    opacity: 1;
    left: 0;
  }

  @media (max-width: 768px) {
    display: flex;
  }
}