<div class="menu">
  <div class="menu__line">
    <span class="menu-line"></span>
    <span class="menu-text">MENU</span>
  </div>
  <ul class="menu__item hidden">
    <li class="menu-item">
      <a href="#" class="menu-link">О «Квартале»</a>
    </li>
    <li class="menu-item">
      <a href="#" class="menu-link">Новости</a>
    </li>
    <li class="menu-item">
      <a href="#" class="menu-link menu-active">Афиша</a>
    </li>
    <li class="menu-item">
      <a href="#" class="menu-link">Контакты</a>
    </li>
  </ul>
</div>